<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Topjava</display-name>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>com.dev.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusCode</servlet-name>
        <servlet-class>com.dev.servlet.StatusCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusCode</servlet-name>
        <url-pattern>/StatusCode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletRequestDemo</servlet-name>
        <servlet-class>com.dev.servlet.RequestDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRequestDemo</servlet-name>
        <url-pattern>/ServletRequestDemo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletResponseDemo</servlet-name>
        <servlet-class>com.dev.servlet.ResponseDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResponseDemo</servlet-name>
        <url-pattern>/ServletResponseDemo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMethodServlet</servlet-name>
        <servlet-class>com.dev.servlet.GetMethodDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMethodServlet</servlet-name>
        <url-pattern>/GetMethodServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <servlet-class>com.dev.servlet.PostMethodDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <url-pattern>/PassingParametersUsingPostMethodDemo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorDemo</servlet-name>
        <servlet-class>com.dev.servlet.ErrorDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorDemo</servlet-name>
        <url-pattern>/ErrorDemo</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorDemo</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Error</exception-type>
        <location>/ErrorDemo</location>
    </error-page>

    <filter>
        <filter-name>FilterDemo</filter-name>
        <filter-class>com.dev.servlet.FilterDemo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDemo</filter-name>
        <url-pattern>/FilterDemo</url-pattern>
    </filter-mapping>
</web-app>